
body {
  margin: 0px;
}

.footer {
  height: 150px;
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
}

.title {
  font-weight: bold;
  font-size: 12px;
}

.info {
  font-size: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 150px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
}

#one {
  justify-content: space-around;
}

#three{
  justify-content: space-between;
}
