body{
  margin: 0px;
}


.navbar {
  height: 60px;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.item {
  margin: 10px;
}


#logo {
  flex: auto;
  display: flex;
  justify-content: start;
}

#circle {
  height: 40px;
  width: 40px;
  background-color: green;
  border-radius: 50%;
}

#search {
  flex: auto;
  background-color: white;
  border: solid thin grey;
  padding: 10px;
}
