body{
  margin: 0px;
}

.sidebar {
  width: 150px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding-left: 10px;
}

.item {
  font-weight: bold;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
}
